<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,300&display=swap" />
    <link rel="stylesheet" type="text/css" href="/css/shared.css" />
    <link rel="stylesheet" type="text/css" href="/css/category.css" />
</head>

<body>
    <div class="main-container">
        <div class="nav-bar">
            <div class="nav-heading">
                <form action="/" method="get">
                    <button type="submit">
                        <span class="burrow">BURROW</span>
                    </button>
                </form>
            </div>
            <div class="nav-items">
                <form action="/Living" method="get">
                    <button type="submit">
                        <div class="nav-item">
                            <span class="shop-seating">LIVING SEATING</span>
                        </div>
                    </button>
                </form>
                <form action="/Dining" method="get">
                    <button type="submit">
                        <div class="nav-item">
                            <span class="shop-seating-8">DINING SEATING</span>
                        </div>
                    </button>
                </form>
                <form action="/Outdoor" method="get">
                    <button type="submit">
                        <div class="nav-item">
                            <span class="shop-seating-d">OUTDOOR SEATING</span>
                        </div>
                    </button>
                </form>
            </div>
            <div class="nav-btns">
                <div class="shopping-cart">
                    <form action="/cart" method="get">
                        <button type="submit">
                            <img src="/assets/icons/shopping_cart.svg" alt="" srcset="">
                        </button>
                    </form>
                </div>
                <div class="account-circle-navbar">
                    <form action="/account" method="get">
                        <button type="submit">
                            <img src="/assets/icons/account_circle_navbar.svg" alt="" srcset="">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-collection">
            <% products.forEach(product => { %>
                <form action="/category/:<%= product.name%>" method="post">
                    <button type="submit">
                        <div class="product-card">
                            <div class="photo-of-product" style="background: url(
                                <%= product.path %>
                            ) lightgray 50% / cover no-repeat"></div>
                            <div class="product-description">
                                <div class="colors">
                                    <div class="different-colors">
                                        <div class="color1 color"></div>
                                        <div class="color2 color"></div>
                                        <div class="color3 color"></div>
                                        <div class="color4 color"></div>
                                        <div class="color5 color"></div>
                                    </div>
                                    <div>
                                        + many more
                                    </div>
                                </div>
                                <span class="name-of-item">
                                    <%= product.name %>
                                </span>
                                <span class="price">
                                    Price: $
                                    <%= product.price %>
                                </span>
                            </div>
                        </div>
                    </button>
                </form>
            <% })%>
            
        </div>
        <div class="footer">
            <div class="contact-section">
                <form action="/newsletter" method="post">
                    <input type="text" class="newsletter-input" name="newsletter"
                        placeholder="Sign up for enthralling couch reads">
                    <input type="submit" value="SUBSCRIBE" class="newsletter-btn">
                </form>
                <div class="social-media-icons">
                    <div class="icon-twitter">
                        <img src="/assets/icons/twitter.svg" class="footer-icons" alt="" srcset="">
                    </div>
                    <div class="icon-facebook">
                        <img src="/assets/icons/facebook.svg" class="footer-icons" alt="" srcset="">
                    </div>
                    <div class="icon-instagram">
                        <img src="/assets/icons/instagram.svg" class="footer-icons" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="site-info">
                <div class="copyright_n_terms">
                    <span class="copyright">
                        Copyright © Vinner Designed by Vinner
                    </span>
                    <span class="terms">
                        Terms n conditions Privacy - Do not sell my personal information
                    </span>
                </div>
                <span class="personal-info">This site may collect and disclose the personal information
                    collected
                </span>
            </div>
        </div>
    </div>
</body>

</html>