<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Burrow | Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" />
    <link rel="stylesheet" type="text/css" href="/css/shared.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

<body>
    <div class="main-container">
        <div class="nav-bar">
            <div class="nav-heading">
                <form action="/" method="get">
                    <button type="submit">
                        <span class="burrow">BURROW</span>
                    </button>
                </form>
            </div>
            <div class="nav-items">
                <form action="/Living" method="get">
                    <button type="submit">
                        <div class="nav-item">
                            <span class="shop-seating">LIVING SEATING</span>
                        </div>
                    </button>
                </form>
                <form action="/Dining" method="get">
                    <button type="submit">
                        <div class="nav-item">
                            <span class="shop-seating-8">DINING SEATING</span>
                        </div>
                    </button>
                </form>
                <form action="/Outdoor" method="get">
                    <button type="submit">
                        <div class="nav-item">
                            <span class="shop-seating-d">OUTDOOR SEATING</span>
                        </div>
                    </button>
                </form>
            </div>
            <div class="nav-btns">
                <div class="shopping-cart">
                    <form action="/cart" method="get">
                        <button type="submit">
                            <img src="/assets/icons/shopping_cart.svg" alt="" srcset="">
                        </button>
                    </form>
                </div>
                <div class="account-circle-navbar">
                    <form action="/account" method="get">
                        <button type="submit">
                            <img src="/assets/icons/account_circle_navbar.svg" alt="" srcset="">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="cta">
            <h1 class="page-heading">SHOP THE BEST SEATING</h1>
            <form action="/category" method="get">
                <input type="submit" value="SHOP SEATING" class="btn-primary">
            </form>
        </div>
        <div class="designs-for-every-corner">
            <h1 class="card-collection-heading">Designs for every corner</h1>
            <div class="card-collection">
                <div class="card card-1">
                    NOMAD SEATING
                    <form action="/Living" method="get">
                        <input type="submit" value="SHOP" class="btn-secondary">
                    </form>
                </div>
                <div class="card card-2">
                    DINING SEATING
                    <form action="/Dining" method="get">
                        <input type="submit" value="SHOP" class="btn-secondary">
                    </form>
                </div>
                <div class="card card-3">
                    LIVING SEATING
                    <form action="/Living" method="get">
                        <input type="submit" value="SHOP" class="btn-secondary">
                    </form>
                </div>
            </div>
        </div>
        <div class="info-cards">
            <h1 class="info-title">We’re solving the BIGGEST problems in furniture</h1>
            <div class="cards">
                <div class="card-type">
                    <div class="shipping-icon">
                        <img src="/assets/icons/shipping-icon.svg" alt="" srcset="">
                    </div>
                    <span class="card-title">Fast and affordable shipping</span>
                    <span class="card-content">
                        We’re able to keep inventory on hand thanks to our modular
                        design, which means your order gets to your door way faster.
                    </span>
                </div>
                <div class="card-type">
                    <div class="packing-icon">
                        <img src="/assets/icons/packing-icon.svg" alt="" srcset="">
                    </div>
                    <span class="card-title">Modular, easy-to-move design</span>
                    <span class="card-content">
                        Our innovative modular design is driven by the belief that
                        furniture should fit this home, and the next one.
                    </span>
                </div>
                <div class="card-type">
                    <div class="tree-icon">
                        <img src="/assets/icons/tree-icon.svg" alt="" srcset="">
                    </div>
                    <span class="card-title">Durable, premium materials</span>
                    <span class="card-content">
                        We use materials like sustainably-forested wood, strengthened
                        steel hardware, and top-grain Italian leather.
                    </span>
                </div>
            </div>
        </div>
        <div class="modular-video-section">
            <h1 class="video-title">Modular, easy-to-move design</h1>
            <div class="video-frame">
                <video autoplay muted loop preload="auto">
                    <source src="/assets/video/index_video.mp4" type="video/mp4">
                </video>
            </div>
            <form action="/category" method="get">
                <input type="submit" value="SHOP SEATING" class="btn-primary">
            </form>
        </div>
        <div class="footer">
            <div class="contact-section">
                <form action="/newsletter" method="post">
                    <input type="text" class="newsletter-input" name="newsletter"
                        placeholder="Sign up for enthralling couch reads">
                    <input type="submit" value="SUBSCRIBE" class="newsletter-btn">
                </form>
                <div class="social-media-icons">
                    <div class="icon-twitter">
                        <img src="/assets/icons/twitter.svg" class="footer-icons" alt="" srcset="">
                    </div>
                    <div class="icon-facebook">
                        <img src="/assets/icons/facebook.svg" class="footer-icons" alt="" srcset="">
                    </div>
                    <div class="icon-instagram">
                        <img src="/assets/icons/instagram.svg" class="footer-icons" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="site-info">
                <div class="copyright_n_terms">
                    <span class="copyright">
                        Copyright © Vinner Designed by Vinner
                    </span>
                    <span class="terms">
                        Terms n conditions Privacy - Do not sell my personal information
                    </span>
                </div>
                <span class="personal-info">This site may collect and disclose the personal information
                    collected
                </span>
            </div>
        </div>
    </div>
</body>

</html>