<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burrow | Success</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" />
    <link rel="stylesheet" type="text/css" href="/css/shared.css" />
</head>
<body>
    <div class="nav-bar">
        <div class="nav-heading">
            <form action="/" method="get">
                <button type="submit">
                    <span class="burrow">BURROW</span>
                </button>
            </form>
        </div>
        <div class="nav-items">
            <form action="/Living" method="get">
                <button type="submit">
                    <div class="nav-item">
                        <span class="shop-seating">LIVING SEATING</span>
                    </div>
                </button>
            </form>
            <form action="/Dining" method="get">
                <button type="submit">
                    <div class="nav-item">
                        <span class="shop-seating-8">DINING SEATING</span>
                    </div>
                </button>
            </form>
            <form action="/Outdoor" method="get">
                <button type="submit">
                    <div class="nav-item">
                        <span class="shop-seating-d">OUTDOOR SEATING</span>
                    </div>
                </button>
            </form>
        </div>
        <div class="nav-btns">
            <div class="shopping-cart">
                <form action="/cart" method="get">
                    <button type="submit">
                        <img src="/assets/icons/shopping_cart.svg" alt="" srcset="">
                    </button>
                </form>
            </div>
            <div class="account-circle-navbar">
                <form action="/account" method="get">
                    <button type="submit">
                        <img src="/assets/icons/account_circle_navbar.svg" alt="" srcset="">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <h1>
        Order PLaced!
    </h1>
    <div class="footer">
            <div class="contact-section">
                <form action="/newsletter" method="post">
                    <input type="text" class="newsletter-input" name="newsletter" placeholder="Sign up for enthralling couch reads">
                    <input type="submit" value="SUBSCRIBE" class="newsletter-btn">
                </form>
                <div class="social-media-icons">
                    <div class="icon-twitter">
                        <img src="/assets/icons/twitter.svg" class="footer-icons" alt="" srcset="">
                    </div>
                    <div class="icon-facebook">
                        <img src="/assets/icons/facebook.svg" class="footer-icons" alt="" srcset="">
                    </div>
                    <div class="icon-instagram">
                        <img src="/assets/icons/instagram.svg" class="footer-icons" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class= "site-info">
                <div class="copyright_n_terms">
                    <span class="copyright">
                        Copyright © Vinner Designed by Vinner
                    </span>
                    <span class="terms">
                        Terms n conditions Privacy - Do not sell my personal information
                    </span>
                </div>
                <span class="personal-info">This site may collect and disclose the personal information
                    collected
                </span>
            </div>
        </div>
</body>
</html>